@import "../../../styles/variables";

@include media(all) {
  :host {
    height: 100%;
    position: relative;
    background-color: #38478e14;
  }
  .footer {
    margin: 0px;
    padding: 30px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 40px;
    border-top: 4px solid #fcb813;
    align-content: center;
    &__column {
      display: grid;
      grid-template-columns: auto;
      justify-items: center;
      align-items: center;
      align-content: flex-start;
      &__title {
        font-size: 1.2em;
        margin: 0px;
        min-height: 30px;
      }
      &__item {
        text-align: left;
        font-size: 1em;
        color: gray;
        min-height: 20px;
      }

      &__social {
        display: grid;
        grid-template-columns: repeat(3, 40px);
        grid-template-rows: 40px;
        grid-gap: 10px;
        align-items: center;
        margin-top: 20px;
        &__link {
          overflow: hidden;
          width: 40px;
          height: 40px;
        }
        &__image {
          width: 40px;
          height: auto;
        }
      }
    }
  }
}

@include media(xs) {
  .footer {
    padding: 30px 6%;
    grid-gap: 40px;
    &__column {
      &__title {
        font-size: 1em;
      }
      &__item {
      }

      &__social {
        &__link {
        }
        &__image {
        }
      }
    }
  }
}
