<footer class="footer">
  <div class="footer__column">
    <h4 class="footer__column__title">Contact Us</h4>
    <div class="footer__column__item">Bogotá - Colombia</div>
    <div class="footer__column__item">Tel: 234 354 55 34</div>
    <div class="footer__column__item">Av. 300 # 130 - 90</div>
  </div>
  <div class="footer__column">
    <h4 class="footer__column__title">Contact Us</h4>
    <div class="footer__column__item">Bogotá - Colombia</div>
    <div class="footer__column__item">Tel: 234 354 55 34</div>
    <div class="footer__column__item">Av. 300 # 130 - 90</div>
  </div>
  <div class="footer__column">
    <h4 class="footer__column__title">Contact Us</h4>
    <div class="footer__column__item">Bogotá - Colombia</div>
    <div class="footer__column__item">Tel: 234 354 55 34</div>
    <div class="footer__column__item">Av. 300 # 130 - 90</div>
  </div>
  <div class="footer__column">
    <h4 class="footer__column__title">Contact Us</h4>
    <div class="footer__column__social">
      <a class="footer__column__social__link" href="#">
        <img class="footer__column__social__image" src="assets/images/instagram_logo.png">
      </a>
      <a class="footer__column__social__link" href="#">
        <img class="footer__column__social__image" src="assets/images/facebook_logo.png">
      </a>
      <a class="footer__column__social__link" href="#">
        <img class="footer__column__social__image" src="assets/images/twitter_logo.png">
      </a>
    </div>
  </div>

</footer>
