@import './variables';

@include media(all) {
  .layout {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: grid;
    overflow-x: hidden;
  }
}


@include media(xs) {
  .layout {
    grid-template-rows: repeat(3, auto);
  }

}
