@import "../../../styles/variables";

@include media(all) {
  :host {
    width: 100%;
  }
  .xchange {
    position: relative;
    padding: 50px;
    display: grid;
    grid-template-columns: minmax(auto, 900px);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
    background-color: $primary-color;
    border-radius: 15px 15px 0px 0px;
    justify-items: center;
    justify-content: center;
    &__rate {
      color: white;
      font-size: 3em;
      font-style: normal;
      font-weight: bold;
    }
    &__form {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
      grid-gap: 40px;
      width: 100%;
    }
    &__button {
      height: 50px;
      border: none;
      border-radius: 15px;
      width: 30%;
      min-width: 120px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $primary-color;
      padding: 0px 10px;
      background: $secondary-color;
      font-size: 2em;
      font-weight: 600;
      transition: opacity 0.3s ease-out;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

@include media(xs) {
  .xchange {
    padding: 25px;
    &__rate {
      font-size: 2em;
      grid-gap: 10px;
    }
    &__form {
    }
    &__button {
      width: 60%;
    }
  }
}
